{
  "presets": [       
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-class-properties",
    "react-hot-loader/babel"
  ]
}